@model WebAppCore.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminCustomer" asp-action="Index" class="breadcrumb-item">Danh Sách Khách Hàng</a>
            <span class="breadcrumb-item active">Xác Nhận Xoá Khách Hàng</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông Tin Khách Hàng</h4>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td class="text-dart font-weight-semibold">@Model.CustomerId</td>
                </tr>
                <tr>
                    <td>Họ và Tên</td>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Số Điện Thoại</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td>Địa Chỉ</td>
                    <td>@Model.Address</td>
                </tr>
                <!-- Add other fields as needed -->
                <tr>
                    <td>Xác Nhận Xoá</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.CustomerId">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <a asp-action="Index">Quay Lại Danh Sách</a>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>