@model IEnumerable<WebAppCore.Models.Page>
@{
    ViewData["Title"] = "Quản Lý Người Dùng";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh Sách Trang</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-20">
            <!-- Add filters or other options if needed -->
            <div class="col-lg-4 table-responsive">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminPage" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm Trang</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Trang</th>
                        <th>Published</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PageId</td>
                                <td>@item.PageName</td>
                                <td>@(item.Published.HasValue && item.Published.Value ? "Yes" : "No")</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPage" asp-action="Details" asp-route-id="@item.PageId">Xem</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPage" asp-action="Edit" asp-route-id="@item.PageId">Sửa</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminPage" asp-action="Delete" asp-route-id="@item.PageId">Xoá</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div> 
</div>